.container {
  position: relative;
  width: 100%;
}

.main {
  padding: 63px 24px 140px 24px;

  width: 100%;
  height: fit-content;
}

@media (max-width: 768px) {
  .main {
    padding-top: 83px;
  }
}
