html {
  font-family: 'pretendard';
  letter-spacing: -0.02em;
  line-height: 1.4;
}

html,
body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.a {
  color: var(--color--main-700);
  font-size: var(--typography--sizes-6xl);
  font-weight: var(--typography--weights-medium);
}
