html {
  font-family: 'pretendard';
  letter-spacing: -0.02em;
  line-height: 1.4;
}

html,
body {
  width: 100%;
  max-width: 1128px;
  height: 100%;
  margin: auto;
}

* {
  padding: 0;
  margin: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
