.button {
  display: flex;
  gap: 4px;
  padding: 4px 8px 4px 12px;
  border-radius: 4px;

  background-color: rgba(46, 54, 66, 0.7);
  color: var(--color--gray-0);
}

.button-md {
  font-size: var(--typography--sizes-sm);
}

.button-lg {
  font-size: var(--typography--sizes-md);
}
