.footerLayout {
  width: 100%;
  height: 112px;
  text-align: center;
  padding-top: var(--typography--sizes-5xl);
  padding-bottom: var(--typography--sizes-2xl);
  color: var(--color--gray-400);
  font-size: var(--typography--sizes-sm);
  background-color: var(--color-gray-0);
}

.footerList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--typography--sizes-2xl);
  margin-bottom: var(--typography--sizes-2xl);
}

.footerDivider {
  width: 1px;
  height: 10px;
  background-color: var(--color--gray-200);
}

.footerItem {
  list-style: none;
}

.footerItem:first-child {
  font-weight: var(--typography--weights-semibold);
}

/* 추후에 모바일 넓이가 변경될 수 있음 */
@media (max-width: 390px) {
  .footerLayout {
    height: 197px;
    padding-top: var(--typography--sizes-3xl);
    font-size: var(--typography--sizes-xs);
  }

  .footerList {
    flex-direction: column;
    gap: var(--typography--sizes-lg);
  }

  .footerDivider {
    display: none;
  }
}
