.greeting-container {
  padding: 72px 0 0;
  color: var(--color--gray-800);
  font-size: var(--typography--sizes-5xl);
  font-weight: var(--typography--weights-semibold);

  @media (max-width: 768px) {
    padding: 60px 0 0;
    font-size: var(--typography--sizes-4xl);
  }

  @media (max-width: 390px) {
    padding: 40px 0 0;
    font-size: var(--typography--sizes-2xl);
  }
}

.dashboard-container {
  padding: 70px 0 0;

  @media (max-width: 768px) {
    padding: 40px 0 0;
  }

  @media (max-width: 390px) {
    padding: var(--typography--sizes-2xl) 0 0;
  }
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--typography--sizes-lg);
  width: 100%;
}

.dashboard-title {
  color: var(--color--gray-700);
  font-size: var(--typography--sizes-2xl);
  font-weight: var(--typography--weights-semibold);

  @media (max-width: 768px) {
    font-size: var(--typography--sizes-xl);
  }
}

.dashboard-more {
  color: var(--color--gray-400);
  font-size: var(--typography--sizes-md);
  font-weight: var(--typography--weights-regular);

  @media (max-width: 768px) {
    font-size: var(--typography--sizes-sm);
  }

  @media (max-width: 390px) {
    font-size: var(--typography--sizes-xs);
  }
}

.calendar-working-container {
  display: flex;
  justify-content: center;
  gap: var(--typography--sizes-2xl);
  margin-bottom: var(--typography--sizes-2xl);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.calendar-container {
  width: 775px;
  height: 368px;
  padding: var(--typography--sizes-3xl);
  border: 1px solid var(--color--gray-50);
  border-radius: var(--typography--sizes-xs);

  @media (max-width: 768px) {
    width: 100%;
    padding: var(--typography--sizes-2xl);
  }

  @media (max-width: 390px) {
    padding: var(--typography--sizes-lg);
    height: 320px;
  }
}

.calendar-title {
  color: var(--color--gray-600);
  font-size: var(--typography--sizes-lg);
  font-weight: var(--typography--weights-semibold);
}

.working-status-container {
  width: 285px;
  height: 368px;
  padding: var(--typography--sizes-3xl);
  border: 1px solid var(--color--gray-50);
  border-radius: var(--typography--sizes-xs);
}

.working-status-title {
  color: var(--color--gray-600);
  font-size: var(--typography--sizes-lg);
  font-weight: var(--typography--weights-semibold);
}

.learning-status-container {
  padding: var(--typography--sizes-4xl);
  border: 1px solid var(--color--gray-50);
  border-radius: var(--typography--sizes-xs);
  height: 515px;
}

.learning-status-title {
  color: var(--color--gray-600);
  font-size: var(--typography--sizes-lg);
  font-weight: var(--typography--weights-semibold);
}
